AppBankC/Connected Services/WSBank/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfROL">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ROL" nillable="true" type="tns:ROL" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfROL" nillable="true" type="tns:ArrayOfROL" />
  <xs:complexType name="ROL">
    <xs:sequence>
      <xs:element minOccurs="0" name="USUARIOS" nillable="true" type="tns:ArrayOfUSUARIOS" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="rol1" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ROL" nillable="true" type="tns:ROL" />
  <xs:complexType name="ArrayOfUSUARIOS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="USUARIOS" nillable="true" type="tns:USUARIOS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUSUARIOS" nillable="true" type="tns:ArrayOfUSUARIOS" />
  <xs:complexType name="USUARIOS">
    <xs:sequence>
      <xs:element minOccurs="0" name="CUENTAS" nillable="true" type="tns:ArrayOfCUENTAS" />
      <xs:element minOccurs="0" name="ROL" nillable="true" type="tns:ROL" />
      <xs:element minOccurs="0" name="USER" nillable="true" type="tns:ArrayOfUSER" />
      <xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="id_rol" type="xs:int" />
      <xs:element minOccurs="0" name="identificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="USUARIOS" nillable="true" type="tns:USUARIOS" />
  <xs:complexType name="ArrayOfCUENTAS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CUENTAS" nillable="true" type="tns:CUENTAS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCUENTAS" nillable="true" type="tns:ArrayOfCUENTAS" />
  <xs:complexType name="CUENTAS">
    <xs:sequence>
      <xs:element minOccurs="0" name="SALDO" nillable="true" type="tns:ArrayOfSALDO" />
      <xs:element minOccurs="0" name="USUARIOS" nillable="true" type="tns:USUARIOS" />
      <xs:element minOccurs="0" name="cuenta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="id_user" type="xs:int" />
      <xs:element minOccurs="0" name="state_account" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CUENTAS" nillable="true" type="tns:CUENTAS" />
  <xs:complexType name="ArrayOfSALDO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SALDO" nillable="true" type="tns:SALDO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSALDO" nillable="true" type="tns:ArrayOfSALDO" />
  <xs:complexType name="SALDO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CUENTAS" nillable="true" type="tns:CUENTAS" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="id_cuenta" type="xs:int" />
      <xs:element minOccurs="0" name="nuevo_saldo" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="saldo1" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SALDO" nillable="true" type="tns:SALDO" />
  <xs:complexType name="ArrayOfUSER">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="USER" nillable="true" type="tns:USER" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUSER" nillable="true" type="tns:ArrayOfUSER" />
  <xs:complexType name="USER">
    <xs:sequence>
      <xs:element minOccurs="0" name="USUARIOS" nillable="true" type="tns:USUARIOS" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="id_user" type="xs:int" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="user_name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="USER" nillable="true" type="tns:USER" />
</xs:schema>