AppBankC/Connected Services/WSBank/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59946/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFService.Model" />
  <xs:import schemaLocation="http://localhost:59946/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WCFService" />
  <xs:element name="GetRolbyId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolbyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFService.Model" minOccurs="0" name="GetRolbyIdResult" nillable="true" type="q1:ArrayOfROL" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountbyId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountbyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFService.Model" minOccurs="0" name="GetAccountbyIdResult" nillable="true" type="q2:ArrayOfCUENTAS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFService.Model" minOccurs="0" name="cuenta" nillable="true" type="q3:CUENTAS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetAccountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFService.Model" minOccurs="0" name="cuenta" nillable="true" type="q4:USUARIOS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetUsuarioResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UptAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numCuenta" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UptAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="UptAccountResult" nillable="true" type="q5:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAccount" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DelAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="DelAccountResult" nillable="true" type="q6:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAmount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="valor" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAmountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="AddAmountResult" nillable="true" type="q7:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAmount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="valor" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveAmountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCFService" minOccurs="0" name="RemoveAmountResult" nillable="true" type="q8:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSateAccountbyId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAccount" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSateAccountbyIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCFService.Model" minOccurs="0" name="GetSateAccountbyIdResult" nillable="true" type="q9:ArrayOfCUENTAS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBalance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idAccount" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBalanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WCFService.Model" minOccurs="0" name="GetBalanceResult" nillable="true" type="q10:ArrayOfSALDO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByUserAndPass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pass" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByUserAndPassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WCFService.Model" minOccurs="0" name="GetUserByUserAndPassResult" nillable="true" type="q11:ArrayOfUSUARIO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolByIdUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRolByIdUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WCFService.Model" minOccurs="0" name="GetRolByIdUserResult" nillable="true" type="q12:ArrayOfUSUARIOS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>